.cabecalho{
    margin: auto;
    height: 500px;
    background-image: linear-gradient(to bottom,#162028,rgb(100, 97, 97));
    border-top: 1px solid black;
}

.titulo img{
    border-radius: 50%;
    height: 200px;
}

.titulo{
    text-align: center;
    margin-top: 40px;
    color: black;
}

.titulo h1{
    font-size: 40px;
    width: 300px;
    margin: 15px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px black;
}

.titulo p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    padding-top: 12px;
}

#sobre-min{
    background-image: linear-gradient(#162028,rgb(100, 97, 97));
    
}

#sobre-min header h2{
    padding-top: 25px;
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px black;
}

#sobre-min p{
    color: white;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px black;
    padding: 25px;
}

#projetos header h2{
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    color: #162028;
}

#projetos-1,#projetos-2 p{
    font-size: 20px;
    text-align: center;
    color: #162028;
    padding-top: 30px;
    width: 80%;
    margin: auto;
}

footer{
    background-image: linear-gradient(to bottom,#162028,rgb(100, 97, 97));
    height: 80px;
    line-height: 80px;
}

footer p{
    font-size: 15px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
    margin: auto;
}

#contatos header h2{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    color: #162028;
}

fieldset{
    text-align: center;
    font-size: 20px;
    color: #162028;
    margin: auto;
}
.tecnologia ul li{
    list-style: none;
    margin-left: 10px;
    margin-top: 5px;
    color: black;
    padding: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
  
.tecnologia2,.tecnologia ul{
    margin: 40px ;
    text-align: center;
    margin-left: 10px;
}

.tecnologia2 ul li{
    list-style: none;
    margin-left: 10px;
    margin-top: 5px;
    color: black;
    padding: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
  

.tecnologia ul{
    margin: 40px ;
    text-align: center;
    margin-left: 10px;
}


.cod-1{
    margin: 40px;
    text-align: center;
}

#projetos-2 p{
    font-size: 20px;
    text-align: center;
    color: #162028;
    padding-top: 30px;
}

.img-01{
    width: 44%;
    background-color: #162028;
    margin: auto;
}





